<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>
<a href="/customer/list"><button>Back To List Customer</button></a>
<a href="/dish/list">Back</a>

<form th:action="@{create}" th:object="${dish}" method="POST" >
  <h1>Add Dish</h1>
  <th:block th:if="${message}">
    <p th:text="${message}" class="ui-helper-clearfix"></p>
  </th:block>
  <div>
    <label>Name Dish: </label> <br>
    <input type="text" placeholder="Enter Name Dish" th:field="*{name}">
  </div>
  <div>
    <label>Calo</label> <br>
    <input type="text" placeholder="Enter Calo Dish" th:field="*{calo}">
  </div>
  <div>
    <label>Price</label> <br>
    <input type="text" placeholder="Enter Price Dish" th:field="*{price}">
  </div>
  <div>
    <label>BMI</label> <br>
    <input type="text" placeholder="Enter BMI Dish" th:field="*{bmi}">
  </div>

  <button type="submit">Create</button>
  </div>

</form>

</body>
</html>